*{
  margin: 0;
  padding: 0;
}


.loader{
  position: absolute;
  color: red;
  top: 40%;
  left: 40%;
  z-index: 3;
  height: 20%;
  width: 20%;
}

.slide-plane_content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliding-pane .pane-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}